---
- name: install bind packages (RedHat)
  yum: pkg={{ item }} state={{ bind_pkg_state }}
  with_items: bind_pkgs
  tags: package
  when: ansible_os_family == 'RedHat'

- name: install bind packages (Debian)
  apt: pkg={{ item }} state={{ bind_pkg_state }}
  with_items: bind_pkgs
  tags: package
  when: ansible_os_family == 'Debian'

- name: install bind packages (FreeBSD)
  pkgng: pkg={{ item }} state=present
  with_items: bind_pkgs
  tags: package
  when: ansible_os_family == 'FreeBSD'

- name: setup directories
  file: dest={{ item }} state=directory owner={{ bind_user }} group={{ bind_group }} mode=0755
  with_items:
  - "{{ bind_base_zones_path }}"
  - "{{ bind_cache_path }}"
  tags: configuration

- name: setup zone directories
  file: dest={{ bind_base_zones_path }}/{{ item }} state=directory owner={{ bind_user }} group={{ bind_group }} mode=0755
  with_items:
  - masters
  - slaves
  tags: configuration

- name: setup zones
  action: template src=named.conf.local.{{ item }}.j2 dest={{ bind_config_basepath }}/named.conf.local.{{ item }} owner={{ bind_user }} group={{ bind_group }} mode=0644
  with_items:
  - master
  - slave
  - forward
  notify: reload bind
  tags: configuration

- name: configure bind
  template: src=named.conf.j2 dest={{ bind_config_basepath }}/named.conf owner={{ bind_user }} group={{ bind_group }} mode=0644 validate='named-checkconf %s'
  notify: restart bind
  tags: configuration

- name: configure bind options
  template: src=named.conf.options.j2 dest={{ bind_config_basepath }}/named.conf.options owner={{ bind_user }} group={{ bind_group }} mode=0644 validate='named-checkconf %s'
  notify: restart bind
  tags: configuration

- name: Copy master zone files
  copy: src={{ bind_masterzones_path }}/db.{{ item.name }} dest={{ bind_base_zones_path }}/{{bind_masterzones_path}} owner={{ bind_user }} group={{ bind_group }}
  with_items: bind_config_master_zones
  notify: restart bind
  tags: zones

- name: start/stop bind service
  service: name={{ bind_service_name }} state={{ bind_service_state }} enabled={{ bind_service_enabled }}
  tags: service
